services:
  - type: web
    name: gostops-price-watcher
    env: node
    plan: free

    buildCommand: |
      apt-get update
      apt-get install -y chromium chromium-browser
      apt-get install -y \
        fonts-liberation \
        libatk-bridge2.0-0 \
        libatk1.0-0 \
        libcups2 \
        libdbus-1-3 \
        libdrm2 \
        libgbm1 \
        libgtk-3-0 \
        libnspr4 \
        libnss3 \
        libu2f-udev \
        libvulkan1 \
        libxcomposite1 \
        libxdamage1 \
        libxrandr2 \
        xdg-utils

      npm install

    startCommand: "npm start"

    envVars:
      - key: URL
        value: "https://gostops.com/stay/Srinagar/srinagar-hostel?checkin=2026-01-16&checkout=2026-01-17"

      - key: GMAIL_USER
        value: "tarunvamsipusarla@gmail.com"

      - key: GMAIL_APP_PASS
        value: "uskguyltgjebtqeg"

      - key: EMAIL_TO_1
        value: "pusarlatarunvamsi@gmail.com"

      - key: EMAIL_TO_2
        value: "psai7094@gmail.com"

      - key: CHECK_INTERVAL
        value: "600000"
